<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %> 
</head>
<body>
<script>
  $(document).ready(function(){
      $('#home').addClass('active');
  });
</script>
<%if (login) { %>
  <% include partials/menu-login %>
<% } else { %>
  <% include partials/menu %>
<% } %>
  <div class="container-fluid text-center">
    <%if (login) { %>
      <h3>Welcome, <%=user.name%></h3><br>
    <% } else { %>
      <h3>Hello</h3>
    <% } %>
  </div>
  <div class="container text-center">  
      <%if (login) { %>
        <p>you are logined</p>
        <button id="button">click me</button>
      <% } else { %>
        <p>Guardian PRO is a "smart doorbell" - an intelligent device connected with a mobile application. When someone rings the bell, the device would capture the visitor and send a video or photo to the housekeeper via the mobile app and the housekeeper can control the unlock the door by the mobile app controller if the housekeeper agree to let him in.</p>
      <% } %>
  </div>
<script>
$("#button").click(function(){
  $.ajax({url: "/esp32", success: function(result){
  }});
});
</script>
</div>
</body>
<% include partials/script %>
</html>