<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %> 
<link rel="stylesheet" href="./stylesheets/input.css">
</head>
<body>
<script>
  $(document).ready(function(){
      $('#login').addClass('active');
  });
</script>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3 id="clickme">Welcome</h3><br>
  <%if (error) { %>
    <h4 style="color: rgba(255, 0, 0, 0.9);">Please Confirm Password</h4><br>
  <% } %>
</div>
<center>
<form action="/login" method="POST">
  <label for="username" class="inp">
    <input type="text" id="username" name="username" placeholder="&nbsp;">
    <span class="label">Username</span>
    <span class="border"></span>
  </label><br><br>
  <label for="password" class="inp">
    <input type="password" id="password" name="password" placeholder="&nbsp;">
    <span class="label">Password</span>
    <span class="border"></span>
  </label><br><br>
    <input class="btn" type="submit" value="Submit">
</form> 
</center>
</body>
<script>
setTimeout(function(){
  $("#username").trigger( "focus" );
  $("#password").trigger( "focus" );
  $("#password").trigger( "blur" );
 }, 100);
</script>
<% include partials/script %>
</html>