<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
<link rel="stylesheet" href="./stylesheets/input.css">
</head>
<body>
<script>
  $(document).ready(function(){
      $('#signUp').addClass('active');
  });
</script>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3>Welcome</h3><br>
</div>
<center>
<% if (error) { %>
<p style="color:rgba(255, 0, 0, 0.9)"> username already been used.</p>
<% } %>
<form action="/signUp" method="POST">
  <label for="name" class="inp">
    <input type="text" id="name" name="name" placeholder="&nbsp;">
    <span class="label">Name</span>
    <span class="border"></span>
  </label><br><br>
  <label for="username" class="inp">
    <input type="text" id="username" name="username" placeholder="&nbsp;">
    <span class="label">Username</span>
    <span class="border"></span>
  </label><br><br>
  <label for="password" class="inp">
    <input type="password" id="password" name="password" placeholder="&nbsp;">
    <span class="label">Password</span>
    <span class="border"></span>
  </label><br><br>
  <label for="email" class="inp">
    <input type="text" id="email" name="email" placeholder="&nbsp;">
    <span class="label">Email</span>
    <span class="border"></span>
  </label><br><br>
  <label for="phone" class="inp">
    <input type="tel" id="phone" name="phone" placeholder="&nbsp;">
    <span class="label">Phone</span>
    <span class="border"></span>
  </label><br>
  <label class="inp">
    <span class="label">Gender</span>
  </label><br><br><br>
  <div class="forms">
    <label for="male">
      <input type="radio" id="male" name="gender" value="male" checked>
      <span class="rdo"></span>
      <span>Male</span>
    </label>
    <label for="female">
      <input type="radio" id="female" name="gender" value="female">
      <span class="rdo"></span>
      <span>Female</span>
    </label><br>
  </div>
  <input class="btn" type="submit" value="Submit">
</form>
</center>
</body>
<script>
setTimeout(function(){
  $("#name").trigger( "focus" );
  $("#username").trigger( "focus" );
  $("#password").trigger( "focus" );
  $("#email").trigger( "focus" );
  $("#Phone").trigger( "focus" );
  $("#email").trigger( "blur" );
 }, 100);
</script>
<% include partials/script %>
</html>